<ion-header [translucent]="true">
  <ion-toolbar mode="ios">
    <ion-title>
      Publicaciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="w-screen h-full flex flex-col">
      <app-publications-list></app-publications-list>
    <ion-fab class="p-8" slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button [routerLink]="['/publication']">
        <ion-icon class="text-white" name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>
